.chatbot-container {
  max-width: 420px;
  min-height: 75vh;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: linear-gradient(
    #ffd60a,
    #ffbe0b,
    #ff9f1c,
    #fb5607,
    #ef233c,
    #c1121f
  );
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot-container .chat-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.chat-header span {
  background-color: white;
  height: 22px;
  width: 24px;
  padding: 6px;
  border-radius: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo h2 {
  font-size: 1.35rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.chat-header button {
  margin-left: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: black;
  border: none;
  background: none;
}

.chat-messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 4px;
  scroll-behavior: smooth;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 3px;
  max-width: 60%;
  word-wrap: break-word;
}

.message:not(.user) {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin-right: auto;
}

.message.user {
  background-color: #023047;
  text-align: right;
  color: white;
  margin-left: auto;
  border-radius: 15px 15px 3px 15px;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #4361ee;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e4c1f9;
}
